* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

border {
	color: aliceblue;
}
.main {
	width: 100%;
	height: 100vh;
	background-image: url(1.jpg);
	background-size: cover;
	background-position: center;
}
.navbar {
	width: 85%;
	margin: auto;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-size: 40px;
	color: rgb(0, 0, 0);
	font-weight: bold;
	width: 120px;
	cursor: pointer;
}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a {
	color: white;
	text-transform: uppercase;
}
.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: rgb(116, 10, 255);
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.4s;
}
.navbar ul li:hover:after {
	width: 100%;
}
.content {
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	transform: translateY(-40%);
}
.content h1 {
	font-size: 60px;
	margin-top: 80px;
}
.content p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}
button {
	width: 150px;
	margin: 20px 10px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background: transparent;
	border: 3px solid rgb(0, 217, 255);
	position: relative;
	cursor: pointer;
	border-radius: 10px;
	overflow: hidden;
}
span {
	height: 100%;
	width: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
	position: absolute;
	border-radius: 10px;
	background: rgb(0, 217, 255);
	transition: 0.5s;
}
button:hover span {
	width: 100%;
}
button:hover {
	border: none;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.floating-island {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 150px;
    background-color: #007BFF;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #0056b3;
}